* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #dbe4ee;
  color: #264653;
  font-family: "Roboto Mono", monospace;
}

main {
  display: grid;
  padding: 25px 2.5%;
  height: inherit;
}
main a {
  display: flex;
  text-decoration: none;
  color: #264653;
}
main a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  background-color: #e9c46a;
  color: #264653;
  border-color: #264653;
  border-radius: 25px;
}
main input {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 25px;
  height: 41px;
  border: 0.5px solid rgba(38, 70, 83, 0.25);
}
main input::placeholder {
  text-align: center;
  font-weight: 700;
  color: #264653;
}
main input:last-child {
  font-size: 28px;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
}

.nav-mobile {
  margin: 0;
  padding: 0;
}
.nav-mobile ul {
  margin: 0;
  padding: 0;
}
.nav-mobile ul a {
  display: grid;
}
.nav-mobile ul a span {
  color: #264653;
  font-size: 16px;
  bottom: 50px;
}
.nav-mobile ul a .logo {
  height: inherit;
  width: 150px;
  width: 200px;
  margin: 0 auto;
}

.old-methods {
  font-size: 1.5em;
}
.old-methods .methods {
  font-size: 0.75em;
  font-weight: bold;
}
.old-methods .methods a {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  align-items: center;
  height: 41px;
  margin-bottom: 20px;
  border: 0.5px solid rgba(38, 70, 83, 0.25);
  border-radius: 25px;
}
.old-methods .methods a input {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  background-color: transparent;
}
.old-methods .methods a input {
  background-color: #e9c46a;
}
.old-methods .methods a input:hover {
  background-color: #e9c46a;
}
.old-methods .methods a input:active {
  background-color: red;
}
.old-methods .methods a img {
  margin: 0 auto;
  height: inherit;
}
.old-methods .methods a p {
  margin: 0 auto;
}
.old-methods .methods a p:last-child {
  margin-left: 0;
  font-size: 0.5em;
}
.old-methods .methods .paypal {
  grid-column: 2/5;
}
.old-methods .methods a:hover {
  background-color: #e9c46a;
}

form {
  display: grid;
}
form .method-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form .method-header h3 {
  display: flex;
}
form .method-header select {
  border: 1px solid #264653;
  border-radius: 25px;
  height: 21px;
  background-color: #e9c46a;
  color: #264653;
  font-weight: 700;
  border: 0.5px solid rgba(38, 70, 83, 0.25);
}
form label {
  display: inline-flex;
  align-items: center;
  font-size: 0.75em;
  height: 40px;
}
form div {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
}
form div input {
  margin: 0 2.5%;
}
form div .new-card {
  display: flex;
  align-items: center;
}